<header class="header-index">
<img src="/assets/main10.jpg">
<div class="main">
  <% if owner_signed_in?%>
  <%= render "owners/shared/header" %>
  <%else%>
  <%= render "users/shared/header" %>
  <%end%>
  </header>
</div>
 <div class="home-title">
   <h2>週末はみんなでchill しよう</h2>
</div> 
<dl class="keyword">
  <dt>
   <%= search_form_for @p, url: foodstalls_search_path do |f| %>
     <%= f.label :category_eq, 'カテゴリー' %> 
        <%= f.collection_select(:category_id_eq, @category, :id, :name, include_blank: '指定なし' )%>
        <%= f.label :prefecture_id_eq, '都道府県' %>
      <%= f.collection_select(:prefecture_id_eq, @prefecture, :id, :name, include_blank: '指定なし'  )%>
   <%=f.text_field :title_or_shop_name_or_city_name_cont, placeholder: "キーワード"%>
  </dt>
  <dd>
   <%= f.submit "検索", class: 'keyword-btn'%>
  </dd>
  <% end %>

</dl>

  
</div>
  <div class="home-text">
    <h1 class="home-text-header">リラックスするお店を探す時はchillアプリ</h1>
    <p class="home-text-a">このアプリは、個室や眺めのいい景色が見えるお店、今流行りのシーシャ屋を探したり予約もできたりできます</p>
    <p class="home-text-b">お店を経営している人は、このアプリに掲載させることができる機能があります</p>
  </div>
  <h1 class="home-description-title">機能説明</h1>
   <div class="home-description">
      <div class="home-description-left">
         <h2>キーワード検索機能</h2>
         <%= image_tag 'main5.png', class: 'image-left'%>
      </div>
      <div class="home-description-center">
        <h2>オーナー出店機能</h2>
        <%=  image_tag 'main4.jpg', class: 'image-center'%>
      </div>
      <div class="home-description-right">
        <h2>予約機能</h2>
        <%= image_tag 'main4.png', class: 'image-right'%>
      </div>
   </div>
   
 
   <div class= "index-footer">
   <% if owner_signed_in?%>
  <%= render "owners/shared/footer" %>
  <%else%>
  <%= render "users/shared/footer" %>
  <%end%>
  </div>