<% if owner_signed_in?%>
  <%= render "owners/shared/header" %>
  <%else%>
  <%= render "users/shared/header" %>
  <%end%>

  <div class="foodstall-show">
  <div class="foodstall-show-title">
  <h1>
  <%= @foodstall.shop_name %>
  </h1>
  </div>
<%# 星型のレビュー平均値 %>
  
  <div class="foodstall-image">
  <% @foodstall.images.each do |image|%>
  <%= image_tag  image %>
  <% end %>
  </div>

  <div class="footstall-category">
   <h5>
   <%= @foodstall.category.name%>
   </h5>
   </div>

   <div class="foodstall-title">
   <h2><%=@foodstall.title%></h2>
   </div>

   <div class="foodstall-text">
   <p><%=@foodstall.text%></p>
   </div>

   <div class="addresses">
   <div class="foodstall-post">
   <%= @foodstall.post_code %>
   </div>

   <div class="foodstall-prefecture">
   <%= @foodstall.prefecture.name%>
   </div>
   
   <div class="foodstall-adress">
   <%= @foodstall.address %>
   </div>

   <div class="foodstall-building">
   <%= @foodstall.building_name %>
   </div>
   </div>

<div class="food-stall">
   <%= @foodstall.phone_number%>
</div>
<p>
  <%= @today&.strftime("< %m / %Y >") %>
</p>
<table border="1">
    <tr>
    <th>時間</th>
    <% 10.times do |n| %>
    <th> 
      <% @th_date =  Date.today + n %>
      <% @th_header = @th_date.strftime("%m/%d %a") %>
      <%= @th_header %>
    </th>
  <%end%>
    </tr>
    <% 9.times do |i|%>
    <tr>
      <th>
        <% @th_time = Time.new(2021,7,22,i+10,00,00) %>
        <%= @th_time.strftime("%H:%M") %>
      </th>
      <% 10.times do |d| %>
      <td>
        <% @th_date =  Date.today + d %>
        <% if @td_number = StoreReservation.where(foodstall_id: @foodstall.id,visit_date_time: DateTime.new(@th_date.year, @th_date.month, @th_date.day, @th_time.hour, @th_time.min, @th_time.sec)).blank?%>
        <%= link_to "○", new_foodstall_store_reservation_path(foodstall_id: @foodstall.id, re_date: @th_date, re_time: @th_time.hour) %>
        <% else %>
        <span>×<span>
        <%end%>
      </td>
      <% end %>
    </tr>
    <% end %>
</table>

<h1>口コミ一覧</h1>
<%= link_to '口コミを投稿する', new_foodstall_comment_path(foodstall_id: @foodstall.id) %>
<% @comments.each do |comment|%>
<p><strong><%= link_to current_user.name, user_path(:user_id)%></strong>
 <%= comment.text %></p>
 <p>投稿日：<%= comment.created_at.strftime('%Y/%m/%d') %></p>
 <div class="relative-post-evaluation">
  <span>評価：</span>
  <span id="star-rate-<%= comment.id %>"></span>
  <script>
    $('#star-rate-<%= comment.id %>').raty({
      size: 36,
      starOff: "<%= asset_path('star-off.png') %>",
      starOn: "<%= asset_path('star-on.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      half: true,   
      readOnly: true,  
      score: <%= comment.raty %>,   
    });
  </script>
  <%= comment.raty %>
</div>
<% end %>
