<% if owner_signed_in?%>
  <%= render "owners/shared/header" %>
  <%else%>
  <%= render "users/shared/header" %>
  <%end%>

  <div class="foodstall-show">
  <div class="foodstall-show-title">
  <h1>
  <%= @foodstall.shop_name %>
  </h1>
  </div>
  
  <div class="foodstall-image">
  <% @foodstall.images.each do |image|%>
  <%= image_tag  image %>
  <% end %>
  </div>

  <div class="footstall-category">
   <h5>
   <%= @foodstall.category.name%>
   </h5>
   </div>

   <div class="foodstall-title">
   <h2><%=@foodstall.title%></h2>
   </div>

   <div class="foodstall-text">
   <p><%=@foodstall.text%></p>
   </div>

   <div class="addresses">
   <div class="foodstall-post">
   <%= @foodstall.post_code %>
   </div>

   <div class="foodstall-prefecture">
   <%= @foodstall.prefecture.name%>
   </div>
   
   <div class="foodstall-adress">
   <%= @foodstall.address %>
   </div>

   <div class="foodstall-building">
   <%= @foodstall.building_name %>
   </div>
   </div>

<div class="food-stall">
   <%= @foodstall.phone_number%>
</div>
<p>
  <%= @today&.strftime("< %m / %Y >") %>
</p>
<table border="1">
    <tr>
    <th>時間</th>
    <% 10.times do |n| %>
    <th> 

          <% @th_date =  Date.today + n %>
          <% @th_header = @th_date.strftime("%m/%d %a") %>
          <%= @th_header %>
    </th>
  <%end%>
    </tr>
    <% 9.times do |i|%>
    <tr>
      <th>
        <% @th_time = Time.new(2021,7,22,i+10,00,00) %>
        <%= @th_time.strftime("%H:%M") %>
      </th>
      <% 10.times do |d| %>
      <td>
        <% @th_date =  Date.today + d %>
        <%=link_to  new_store_reservation_path(visit_date_time_id: @visit_date_time)  do %>
       <% @td_number = StoreReservation.where(visit_date_time: DateTime.new(@th_date.year, @th_date.month, @th_date.day, @th_time.hour, @th_time.min, @th_time.sec)).length%>
       <%= @td_number %> 
     
      <% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
</table>

<div class="container">
    <% if user_signed_in? %>
      <%= link_to 'コメントフォーム', new_foodstall_comment_path(:foodstall_id) %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>










