<footer>
      <div class='footer'>
  <div class='footer-contents'>
    <div class='chill-details'>
      <h2 class='footer-content-head1'>.chill</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)',"#", class:"footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー',"#", class:"footer-link" %></li>
        <li><%= link_to '.chill利用規約', "#", class:"footer-link" %></li>
      </ul>
    </div>
    <div class='chill-details'>
      <h2 class='footer-content-head3'>.chillについて</h2>
      <ul>
        <li><%= link_to '.chillオーナーガイド', "#", class:"footer-link"%></li>
        <li ><%= link_to '.chillオーナー利用ガイドライン', "#",  class:"footer-link"%></li>
        <li><%= link_to 'お知らせ', "#", class:"footer-link" %></li>
      </ul>
    </div>
  </div>
  <p>© .chill</p>
</div>
    </footer>