  <%= @prev_store_reservation.name %>
  <%= @prev_store_reservation.email %>
  <%= @prev_store_reservation.phone_number %>
  <%= @prev_store_reservation.visit_date_time %>
<%= form_with model: @new_store_reservation, url: foodstall_store_reservations_path(foodstall_id: params[:foodstall_id]), method: :post, local: true do |f| %>
  <%= f.hidden_field :name, value: @prev_store_reservation.name %>
  <%= f.hidden_field :email, value: @prev_store_reservation.email %>
  <%= f.hidden_field :phone_number, value: @prev_store_reservation.phone_number %>
  <%= f.hidden_field :visit_date_time, value: @prev_store_reservation.visit_date_time %>
  <div class="actions">
    <%= f.submit '予約する' %>
    <%= link_to '戻る', foodstall_path(params[:foodstall_id])%>
  </div>
<% end %>
